mat-toolbar {
  background-color: var(--rosa);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-menu {
 
}

.container-menu a {
  text-decoration: none;
  color: rgb(54, 54, 54);
  margin: 0 10px 0 10px;
}

.container-menu a:hover {
  background-color: pink;
  padding: 10px;
  border: 1px solid white;
  border-radius: 8px;
}